.about__container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 131px;
    color: var(--dark);
}

.about__image {
    width: 464px;
    height: 464px;
    border-radius: 1000px;
    margin: 80px 56px 80px 104px;
}

.about__title {
    font-family: var(--roboto-slab);
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    margin-bottom: 24px;
    margin-top: 0;
}

.about__text {
    font-family: var(--roboto-slab);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}

@media screen and (max-width: 950px) {
    .about__container {
        width: 424px;
        margin-top: 40px;
    }

    .about__image {
        width: 232px;
        height: 232px;
        margin: 61px 32px 61px 40px;
    }

    .about__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 745px) {
    .about__image {
        width: 272px;
        height: 272px;
        margin: 32px 24px 24px 24px;
    }

    .about__container{
        width: 288px;
    }
    .about__text:last-of-type {
        margin-bottom: 128px;
    }
}