.news__item {
  display: flex;
  flex-direction: column;
  font-size: 0;
  position: relative;
  border-radius: 10px;
  background-color: var(--dark);
  box-sizing: border-box;
}

.news__card-button {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--white);
  position: absolute;
  right: 24px;
  top: 24px;
  border: none;
  padding: 0;
  border-radius: 8px;
  border-color: transparent;
}

.news__card-button_type_save {
  background-image: url(../../images/saveButton.svg);
}

.news__card-button_type_save:hover {
  background-image: url(../../images/saveButtonHover.svg);
  cursor: pointer;
}

.news__card-button_active {
  background-image: url(../../images/saveButtonActive.svg);
}

 .news__card-button_active:hover {
  background-image: url(../../images/saveButtonActive.svg);
 }

.news__card-button_type_delete {
  background-image: url(../../images/trashButton.svg);
}

.news__card-button_type_delete:hover {
  background-image: url(../../images/trashButtonHover.svg);
  cursor: pointer;
}

.news__tooltip {
  height: 40px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 24px;
  left: 149px;
  padding: 11px 20px;
  box-sizing: border-box;
  display: none;
}

.news__tooltip_theme_saved {
  padding: 11px 26px;
  left: 172px;
}

.news__tooltip-text {
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: var(--black);
  margin: 0;
}

.news__card-button:hover + .news__tooltip {
  display: block;
}

.news__image {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 272px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news__item-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 24px 24px;
  width: 352px;
}

.news__item-date {
  font-family: var(--source);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--custom-gray);
  margin-top: 0;
  margin-bottom: 0;
}

.news__item-title {
  font-family: var(--roboto-slab);
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark);
  margin-top: 12px;
  margin-bottom: 0;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news__item-text {
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--dark);
  margin-top: 16px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-width: 100%;
  height: 110px;
}

.news__item-source {
  font-family: var(--roboto-slab);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--custom-gray);
  margin-top: 18px;
  margin-bottom: 0;
  letter-spacing: 0.4px;
}

.news__keyword-container {
  height: 40px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 8px 22px;
  box-sizing: border-box;
}

.news__keyword {
  font-family: var(--roboto);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: var(--black);
  margin: 0;
}

.news__article-link {
  border-radius: 10px;
  background-color: var(--white);
  text-decoration: none;
}

@media screen and (max-width: 1360px) {
  .news__item-description {
    width: 250px;
  }

  .news__item-title {
    height: 90px;
  }
}

@media screen and (max-width: 1040px) {
  .news__card-button {
    top: 8px;
  }

  .news__image {
    height: 150px;
  }

  .news__item-description {
    width: 192px;
    margin: 16px;
  }

  .news__item-title {
    font-size: 22px;
    line-height: 24px;
    height: 72px;
    -webkit-line-clamp: 3;
  }

  .news__item-text {
    height: 88px;
    margin-top: 10px;
    -webkit-line-clamp: 4;
  }

  .news__item-source {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }

  .news__keyword-container {
    padding: 8px 20px;
    top: 8px;
    left: 8px;
  }
}

@media screen and (max-width: 900px) {
  .news__card-button {
    left: 176px;
  }
}

@media screen and (max-width: 745px) {
  .news__image {
    height: 196px;
  }

  .news__item-description {
    width: 256px;
  }

  .news__item-title {
    margin-top: 10px;
    height: 48px;
    -webkit-line-clamp: 2;
  }

  .news__item-text {
    margin-top: 14px;
  }
}
